*{margin: 0; padding: 0;}
h1 {
    padding: 2% 4%;
    background-color: teal;
    color:whitesmoke;
}
ul { 
    list-style: none;
    background-color: tomato;
    padding: 1% 1%;
    display: flex;
    gap: 2rem;
}
ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}