* {
    margin: 0;
    padding: 0;
}

input {
    width: 40%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1%;
    font-size: 1.5rem;
}

input[type=submit] {
    width: 30%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1%;
    background-color: royalblue;
    color: white;
}


h1 {
    padding: 2% 5%;
    background-color: teal;
    color: white;

}

ul {
    display: flex;
    padding: 1% 5%;
    background-color: tomato;
    gap: 20px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

table {
    margin: auto;
}

table tr td {
    padding: 0.50%;
}